header{
    font-family: 'Segoe UI';
    background-color: rgb(35, 35, 35);
    font-size: 18px;
    color: azure;
    transition: all 0.2 ease;
}

header h1{
    font-size: 50px;
    color: azure;
    -webkit-text-stroke: 2px azure;
    text-shadow: 0 0 10px rgb(161, 194, 255);
    font-weight: 600;
}

header h3{
    font-size: 100px;
    margin-top: 0;
    margin-bottom: 3rem;
    font-weight: 400;
}

#first_bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

#first_bar h1{
    display: flex;
    justify-content: center;
}

#first_bar h2{
    left: 4rem;
}

#first_bar img{
    width: 50px;
    height: 30px;
    right: 2rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

#first_bar img:hover, #first_bar img:focus{
    transform: scale(1.1);
    box-shadow: 0 0 10px aliceblue;
    transition: all 0.2s ease;
}

#myself{
    margin-left: 5rem; 
    margin-bottom: 5rem;
    margin-top: 2rem;
    width: 800px;
}

#myself p{
    margin-top: -12px;
    margin-left: 2rem;
    font-weight: 600;
}

#myself img{
    margin-left: 70rem;
    transform: scale(12);
    border-radius: 50%;
    box-shadow: 0 0 6px #28029c;
}

#myself a{
    text-decoration: none;
    color: #0091d3; 
    font-weight: 800;
    transition: all 0.2 ease;
}

#myself a:hover{
    text-shadow: 0 0 1.5px #0091d3;
    transition: all 0.2 ease;
}